@import url(http://fonts.googleapis.com/css?family=Domine);
* {
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font-family: "Domine", serif; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    border: none; }

p {
  font-size: 1.3em; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.button {
  padding: 15px 30px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  opacity: .8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }
  .button:hover {
    opacity: 1; }
  .button.grey-button {
    background-color: #F1F1F1;
    color: #716967; }
  .button.teal-button {
    background-color: #00AA97; }
  .button.green-button {
    background-color: #9BD100; }

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(64, 57, 57, 0.4); }

.main-header {
  height: 100px;
  position: relative; }
  .main-header .container {
    position: relative; }
  .main-header .main-logo {
    display: inline-block;
    height: 100px;
    width: 312px; }
  .main-header .main-header-right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    float: right;
    display: inline-block; }

.main-section-hero {
  height: 754px;
  position: relative;
  background-image: url(/img/hero-image.png);
  background-size: cover; }
  .main-section-hero .container {
    position: relative;
    height: 100%; }
  .main-section-hero .hero-headline {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 60px;
    color: white;
    width: 60%; }
    .main-section-hero .hero-headline h1 {
      text-align: center;
      padding: 30px;
      border: 1px solid; }
    .main-section-hero .hero-headline .hero-text {
      border: 1px solid;
      width: 45%;
      float: left;
      padding: 30px; }
      .main-section-hero .hero-headline .hero-text .icon {
        display: inline-block;
        height: 50px;
        width: 50px; }
      .main-section-hero .hero-headline .hero-text p {
        display: inline-block;
        float: left; }
  .main-section-hero .hero-prod-info {
    position: relative;
    display: block;
    height: 100%; }
    .main-section-hero .hero-prod-info .hero-prod-image {
      display: inline-block;
      height: 600px;
      width: 420px;
      position: absolute;
      z-index: 1; }
  .main-section-hero .hero-ctas {
    position: absolute;
    top: -30px;
    right: 230px; }
    .main-section-hero .hero-ctas .button {
      border: 5px solid #FAF7F2;
      opacity: 1; }
  .main-section-hero .hero-bottom-banner {
    background-color: #FAF7F2;
    padding: 30px;
    position: absolute;
    height: 300px;
    bottom: 0px;
    left: 0px;
    right: 150px; }
  .main-section-hero .hero-corner-cut span {
    display: inline-block;
    position: absolute;
    right: -160px; }
  .main-section-hero .hero-corner-cut .right-shape {
    background-color: #FAF7F2;
    height: 210px;
    width: 150px;
    right: -150px;
    bottom: 0px; }
    .main-section-hero .hero-corner-cut .right-shape:before {
      border-bottom: 126px solid #FAF7F2;
      border-right: 150px solid transparent;
      content: "";
      height: 0;
      right: 0px;
      position: absolute;
      top: -126px;
      width: 0; }
  .main-section-hero .hero-corner-cut .lil-tri {
    width: 0;
    height: 0;
    border-bottom: 24px solid #E2CFBB;
    border-right: 24px solid transparent;
    top: 126px;
    right: -149px; }
  .main-section-hero .hero-corner-cut .lil-tri-bottom {
    width: 0;
    height: 0;
    border-bottom: 24px solid #E2CFBB;
    border-right: 24px solid transparent;
    top: 0px;
    right: -24px; }
  .main-section-hero .hero-corner-cut .triangle {
    /*height:148px;
			width: 148px;*/
    border-top: 125px solid #00AA97;
    border-left: 125px solid transparent;
    top: 24px;
    right: -125px; }
  .main-section-hero .hero-prod-detail-wrapper {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0px;
    padding: 30px; }
    .main-section-hero .hero-prod-detail-wrapper .hero-prod-detail {
      display: inline-block;
      width: 24%;
      margin-right: 1%;
      float: left;
      height: 200px;
      position: relative; }
    .main-section-hero .hero-prod-detail-wrapper .bracket {
      height: 100%;
      width: 30px;
      color: #716967;
      position: absolute;
      top: 0px;
      bottom: 0px;
      border-top: 2px solid;
      border-bottom: 2px solid; }
      .main-section-hero .hero-prod-detail-wrapper .bracket:first-of-type {
        border-left: 2px solid;
        left: 0px; }
      .main-section-hero .hero-prod-detail-wrapper .bracket:last-of-type {
        border-right: 2px solid;
        right: 0px; }
    .main-section-hero .hero-prod-detail-wrapper .hero-prod-detail-icon {
      display: block;
      height: 100px;
      width: 200px;
      margin: 0 auto; }

.main-section-product .prod-desc {
  background-color: #FAF7F2; }
