*{
	margin:0px;
	padding:0px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	font-family: $serif;
}
body{
	overflow-x:hidden;
}

a{
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration:none !important;
		border:none;
	}
}

p{
	font-size: 1.3em;
}
.container{
	margin-left: auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	@include breakpoint(tablet-screen){
		width: 750px;
	}
	@include breakpoint(desktop-screen){
		width:970px;
	}
	@include breakpoint(large-desktop-screen){
		width: 1170px;
	}
}
.button{
	padding:15px 30px;
	text-transform: uppercase;
	color:white;
	display: inline-block;
	opacity: .8;
	@include border-radius(10px);
	@include transition(opacity .2s ease-in-out);
	&:hover{
		opacity:1;
	}
	&.grey-button{
		background-color: $grey;
		color:$dark-grey;
	}
	&.teal-button{
		background-color:$teal;
	}
	&.green-button{
		background-color: $green;
	}
}
.overlay{
	position: absolute;
	top:0px; bottom:0px;
	left:0px; right:0px;
	background-color: rgba(64,57,57,.4);
	display: none;
}


.main-header{
	height:200px;
	position: relative;

	@include breakpoint(tablet-screen){
		height:100px;
	}
	.container{

		@include breakpoint(tablet-screen){position: relative;}
	}
	.main-logo-container{
		position: absolute;
		top:0; left:0; right:0;
		height: 100px;
		display: block;
		@include breakpoint(tablet-screen){

		}
		.main-logo{
			position: absolute;
			top:13px;
			bottom:13px;
			left:0px;
			right:0px;
			@include breakpoint(tablet-screen){
				height:100px;
				width: 312px;
				top:initial;
				bottom:initial;
			}
		}
	}
	
	.main-header-right{
		display: block;
		position: absolute;
		left: 0px;
		right: 0px;
		bottom:0px;

		@include breakpoint(tablet-screen){
			@include vertical-center;
			left: initial;
			right:0px;
			float:right;
			display: inline-block;
		}
		
		.button{
			@include border-radius(0px);
			padding:0px;
			float: left;
			display: inline;
			height:100px;
			line-height: 100px;
			width: 33.3%;
			text-align: center;
			@include breakpoint(tablet-screen){
				height:60px;
				line-height: 60px;
				@include border-radius(10px);
			}
		}
	}
}

.main-section-hero{
	background-image: url(/img/hero-image.png);
	background-size: cover;

	@include breakpoint(tablet-screen){
		height: 754px;
		position: relative;
	}

	.container{
		position: relative;
		height: 100%;
	}
	.hero-prod-info{
		position: relative;
		display: block;
		height: 100%;
		.hero-prod-image{
			height: 460px;
			padding-top:60px;

			@include breakpoint(tablet-screen){
				display: inline-block;
				height: 600px;
				width: 420px;
				left: 0px;
				padding:0px;
				position: absolute;
				z-index: 1;
			}
		}
	}

	.hero-headline{
		display: inline-block;
		position: relative;
		color:white;
		@include breakpoint(tablet-screen){
			display: inline-block;
			position: absolute;
			right: 30px;
			top:60px;
			width: 60%;
		}

		h1{
			text-align: center;
			padding:30px;
			border:1px solid;
			position: relative;
			overflow: hidden;
			background-image:url(/img/hero-image.png);
			margin:0px;
			background-size: 1400px;
			background-position: right;
			.blur{
				z-index: 0;
				position: absolute;
				top:0px; bottom:0;
				right: 0; left: 0;
				-webkit-filter: blur(10px); /* Chrome, Opera, etc. */
				filter: blur(10px); /* Firefox 35+, eventually all */
			
			}
			span{
				z-index: 1;
			}
		}
		.hero-text{
			border:1px solid white;
			border-top:none;
			position: absolute;
			
			.col-xs-6{
				padding-left:0px;
				position: relative;
				&:first-of-type{
					border-right:1px solid;
				}
			}
			.icon{
				display: inline-block;
				height: 78px;
				width: 78px;
				background-color: rgba(255,255,255,.5);
				border-right:1px solid;
				float: left;
				margin-right: 15px;
			}

			p{
				display: inline-block;
				float: left;
				font-size: 12pt;
			}
		}
	}
	
	

	.hero-bottom-banner{
		background-color: $beige;
		height:100px;
		margin-left: -15px;
		margin-right: -15px;

		@include breakpoint(tablet-screen){
			position: absolute;
			height:300px;
			bottom: 0px; left:0px; right:150px;
			margin-left: 0;
			margin-right: 0;
		}
		.hero-ctas{
			position: relative;
			display: inline-block;
			width: 100%;
			@include breakpoint(tablet-screen){
				width:initial;
			}
			.button{
				width: 50%;
				float: left;
				display: inline-block;
				@include border-radius(0px);
				@include breakpoint(tablet-screen){
					width: initial;
				}
			}

			@include breakpoint(tablet-screen){
				position: absolute;
				top:-30px;
				right:230px;
				
				.button{
					@include border-radius(10px);
					border:5px solid $beige;
					opacity: 1;
				}
			}
		}
		.hero-corner-cut{
			display: none;

			@include breakpoint(tablet-screen){
				display: block;
			}

			span{
				display: inline-block;
				position: absolute;
				right: -160px;
			}
			.right-shape{
				background-color: $beige;
				height:210px;
				width: 150px;
				right: -150px;
				bottom:0px;
				&:before{
					border-bottom: 126px solid $beige;
					border-right: 150px solid transparent;
					content: "";
					height: 0;
					right: 0px;
					position: absolute;
					top: -126px;
					width: 0;
				}
			}
			.lil-tri{
				width: 0;
				height: 0;
				border-bottom: 24px solid $dark-beige;
				border-right: 24px solid transparent;
				top:126px;
				right:-149px;
			}
			.lil-tri-bottom{
				width: 0;
				height: 0;
				border-bottom: 24px solid $dark-beige;
				border-right: 24px solid transparent;
				top:0px;
				right:-24px;
			}
			.triangle{
				/*height:148px;
				width: 148px;*/
				border-top: 125px solid $teal;
				border-left: 125px solid transparent;
				top:24px;
				right:-125px;
			}
		}
	}
	
	.hero-prod-detail-wrapper{
		padding:15px;
		background-color: $beige;
		position: relative;
		display: inline-block;
		margin-left: -15px;
		margin-right: -15px;

		@include breakpoint(tablet-screen){
			margin-left: 0;
			margin-right: 0;
			display: block;
			position: absolute;
			width: 100%;
			@include horizontal-center;
			bottom:0px;
			padding:30px;
			padding-bottom: 0px;
			background-color: transparent;
		}

		.hero-prod-detail{
			display: inline-block;
			position: relative;
			
			@include breakpoint(tablet-screen){
				
			}

			.hero-prod-detail-image-container{
				position: relative;

				.bracket{
					height:100%;
					width: 30px;
					color:$dark-grey;
					position: absolute;
					top: 0px; bottom:0px;
					border-top:2px solid;
					border-bottom:2px solid;
					&:first-of-type{
						border-left:2px solid;
						left: 0px;
					}
					&:last-of-type{
						border-right:2px solid;
						right: 0px;
					}
				}

				.hero-prod-detail-icon{
					display: block;
					height:230px;
					width: 100%;
					margin: 0 auto;

					@include breakpoint(tablet-screen){
						height:100px;
						width: 200px;
					}
				}
			}

			.hero-prod-detail-text{
				background-color: $dark-grey;
				padding:25px;
				margin-top:15px;
				margin-bottom: 15px;
				@include border-radius(50px);
				position: relative;

				@include breakpoint(tablet-screen){
					position:absolute;
					bottom: 0px;
					background-color: $teal;
					margin-top:30px;
					margin-bottom: 30px;
					-webkit-border-bottom-left-radius: 0px;
						-ms-border-bottom-left-radius: 0px;
							-o-border-bottom-left-radius: 0px;
								border-bottom-left-radius: 0px;
					-webkit-border-bottom-right-radius: 0px;
						-ms-border-bottom-right-radius: 0px;
							-o-border-bottom-right-radius: 0px;
								border-bottom-right-radius: 0px;
				}

				.arrow{
					position: absolute;
					top:-24px;
					@include horizontal-center;
					width: 0;
					height: 0;
					border-bottom: 24px solid $dark-grey;
					border-left: 24px solid transparent;
					border-right:25px solid transparent;
					@include breakpoint(tablet-screen){
						display:none;
					}
				}
				p{
					font-size: 24px;
					color: white;
					text-align: center;
				}
			}
		}	
	}
}

.main-section-product{
	.product-desc{
		background-color: $beige;
		position: relative;
		display: inline-block;
		margin-top:15px;
		margin-bottom:15px;
		padding:15px;
		text-align: center;
		
		.corner{
			position: absolute;
			display: inline-block;
			opacity: 0px;
			width: 0;
			height: 0;

			@include breakpoint(tablet-screen){
				opacity: 1;
			}
			&:before, &:after{
				content: "";
				height:0; width: 0;
				position: absolute;
			}
			&.cut{
				z-index: 0;
			}
			&.cut.left{
				border-bottom:30px solid white;
				border-right:30px solid transparent;
				left:0; bottom:0;
			}
			&.cut.right{
				border-bottom:30px solid white;
				border-left:30px solid transparent;
				right:0; bottom:0;
			}
			&.blue{
				z-index: 1;
			}
			&.blue.left{
				border-bottom: 27px solid $teal;
				border-right: 27px solid transparent;
				bottom: 5px; left:5px;

				&:after{
					border-top: 5px solid $dark-beige;
					border-left: 5px solid transparent;
					border-right: 2px solid transparent;
					left: 19.5px; bottom:-31.85px;
				}
				&:before{
					border-right: 5px solid $dark-beige;
					border-top: 2px solid transparent;
					border-bottom: 6px solid transparent;
					left:-5px; top:0px;
				}
			}

			&.blue.right{
				border-bottom: 27px solid $teal;
				border-left: 27px solid transparent;
				bottom: 5px; right:5px;

				&:after{
					border-top: 5px solid $dark-beige;
					border-right: 5px solid transparent;
					border-left: 2px solid transparent;
					right: 20px; bottom:-31.85px;
				}
				&:before{
					border-left: 5px solid $dark-beige;
					border-top: 2px solid transparent;
					border-bottom: 6px solid transparent;
					right:-5px; top:0px;
				}
			}

		}

		@include breakpoint(tablet-screen){
			margin-top:60px;
			margin-bottom: 30px;
		}

		.button{
			@include border-radius(50px);
			padding:15px 30px;
			margin-top:15px;
			margin-bottom: 15px;
			&.shop-now{
				@include breakpoint(tablet-screen){
					display: none;
				}
			}
		}
	}
	.product-toggle-container{
		display: block;
		position: relative;

		.product-toggle{
			color:$dark-grey;
			font-weight: bold;
			width: 50%;
			display: inline-block;
			border:1px solid $dark-grey;
			background-color: $beige;
			height:150px;
			text-align: center;
			-webkit-border-top-left-radius: 15px;
				-ms-border-top-left-radius: 15px;
					border-top-left-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
				-ms-border-bottom-left-radius: 15px;
					border-bottom-left-radius: 15px;

			&:last-of-type{
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;
			}
			> div{
				position: absolute;
				@include center-center;
				width: 90%;
			}
			.arrow{
				height:0;
				width: 0;
				border-top: 24px solid $dark-grey;
				border-left:24px solid transparent;
				border-right: 24px solid transparent;
				position: absolute;
				bottom: -24px;
				opacity: 0;
				@include horizontal-center;
			}

			&.active{
				background-color:$dark-grey;
				color:white;
				.arrow{
					opacity: 1;
				}
			}
		}
	}
	.product{
		.product-image{
			display:block;
			width: 100%;
			height: 300px;
			margin-top:30px;
			margin-bottom: 30px;
			border:3px solid $dark-grey;
			@include border-radius(15px);
		}
	}
}
