.modal-overlay{
	position: absolute;
	background-color: rgba(0,0,0,.7);
	display: block;
	visibility:hidden;
	opacity: 0;
		z-index: 15;
	@include transition(all .6s ease-in-out);

	&.active{
		top: 0; bottom:0;
		left:0; right:0;
		height: 100%;
		width: 100%;
		opacity: 1;
		visibility:visible;
		z-index: 15;
	}
}

.modal{
	position: fixed;
	height:50%;
	width: 80%;
	@include center-center;
	background-color: white;
	z-index: 16;
	visibility:hidden;
	opacity: 0;
	padding:30px;
	border:5px solid $green;
	text-align: center;
	@include transition(opacity .4s ease-in-out);
	@include breakpoint(tablet-screen){
		padding:60px;
	}
	&.active{
		visibility:visible;
		opacity: 1;
	}
	h3{
		color:$teal;
		font-size: 18px;
		@include breakpoint(tablet-screen){
			font-size: 25px;
		}
		br{
			display: none;
			@include breakpoint(tablet-screen){
				display: block;
			}
		}
	}
	.divider{
		display:block;
		background-color: $grey;
		height:5px;
		width: 60px;
		margin:0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		@include breakpoint(tablet-screen){
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	.retailer{
		margin-top:15px;
		margin-bottom:15px;
		.retailer-logo-container{
			border:1px solid black;
			width: 100%;
			padding:0px;
			padding-top:30px;
			padding-bottom: 30px;
			@include breakpoint(tablet-screen){
				padding:30px;
			}
		}
		.retailer-logo{
			display: inline-block;
			height: 60px;
			width: 80%;
			background-position: center center;
			@include breakpoint(tablet-screen){
				width: 100%;
			}
		}
	}

	.button{
		margin-top:-30px;
		opacity: 1;
		font-size: 14px;
		@include breakpoint(desktop-screen){
			margin-top: 30px;
			font-size: 24px;
		}
		
	}
	
}

#shop-now-modal{
	height:auto;
}

#find-a-store-modal{
	height:80%;

	@include breakpoint(desktop-screen){
		height:60%;
		min-height:600px;
	}
	iframe{
		border:none;
		position: relative;
		left: 0; right:0;
		bottom:0; left:0;
		height:100%;
		width: 100%;
	}
	
}